Gating Method:
<label>
  <input
    type="radio"
    name="gates-type"
    [checked]="currentGatingMethod === gatingMethod.manual"
    (change)="onGatingMethodChange(gatingMethod.manual)"
  />Manual
</label>
<label>
  <input
    type="radio"
    name="gates-type"
    [checked]="currentGatingMethod === gatingMethod.dafi"
    (change)="onGatingMethodChange(gatingMethod.dafi)"
  />DAFi
</label>

<button class="btn left-margin" (click)="onGateResetClicked()"
        [disabled]="!gateLoaded">Reset</button>
<button class="btn left-margin" (click)="onNewGateClicked()"
        [disabled]="!gateLoaded">New Gate</button>

<div #canvas class="canvas"></div>
