<div class="transform-type">
  <label>
    <input
      type="radio"
      [name]="rName"
      [checked]="dataCopy.transformType === transformType.none"
      (change)="onTransformTypeChange(transformType.none)"
    />None
  </label>
  <label>
    <input
      type="radio"
      [name]="rName"
      [checked]="dataCopy.transformType === transformType.auto"
      (change)="onTransformTypeChange(transformType.auto)"
    />Auto
  </label>
  <label>
    <input
      type="radio"
      [name]="rName"
      [checked]="dataCopy.transformType === transformType.linear"
      (change)="onTransformTypeChange(transformType.linear)"
    />Linear
  </label>
  <label>
    <input
      type="radio"
      [name]="rName"
      [checked]="dataCopy.transformType === transformType.log"
      (change)="onTransformTypeChange(transformType.log)"
    />Log
  </label>
  <label>
    <input
      type="radio"
      [name]="rName"
      [checked]="dataCopy.transformType === transformType.logicle"
      (change)="onTransformTypeChange(transformType.logicle)"
    />Logicle
  </label>
  <label>
    <input
      type="radio"
      [name]="rName"
      [checked]="dataCopy.transformType === transformType.predefined"
      (change)="onTransformTypeChange(transformType.predefined)"
    />Predefined
  </label>
</div>
<div class="transform-detail">
  <container-element [ngSwitch]="dataCopy.transformType">
    <div class="fixed-transform" *ngSwitchDefault>
      <span
        *ngIf="
          dataCopy.transformType === transformType.linear ||
          dataCopy.transformType === transformType.logicle
        "
        >A</span
      >
      <input
        type="number"
        max="1000"
        *ngIf="
          dataCopy.transformType === transformType.linear ||
          dataCopy.transformType === transformType.logicle
        "
        [(ngModel)]="dataCopy.a"
        (input)="onValueChange()"
      />

      <span
        *ngIf="
          dataCopy.transformType === transformType.log ||
          dataCopy.transformType === transformType.logicle
        "
        >M</span
      >
      <input
        type="number"
        max="1000"
        *ngIf="
          dataCopy.transformType === transformType.log ||
          dataCopy.transformType === transformType.logicle
        "
        [(ngModel)]="dataCopy.m"
        (input)="onValueChange()"
      />

      <span *ngIf="dataCopy.transformType !== transformType.none && dataCopy.transformType !== transformType.auto">T</span>
      <input
        type="number"
        max="1000"
        *ngIf="dataCopy.transformType !== transformType.none && dataCopy.transformType !== transformType.auto"
        [(ngModel)]="dataCopy.t"
        (input)="onValueChange()"
      />
      <span *ngIf="dataCopy.transformType === transformType.logicle">W</span>
      <input
        type="number"
        max="1000"
        *ngIf="dataCopy.transformType === transformType.logicle"
        [(ngModel)]="dataCopy.w"
        (input)="onValueChange()"
      />
    </div>

    <div class="predefined" *ngSwitchCase="transformType.predefined">
      <p>
        <select
          [(ngModel)]="dataCopy.predefinedName"
          (change)="onValueChange()"
        >
          <option *ngFor="let t of predefinedTransforms" [ngValue]="t">
            {{ t }}
          </option>
        </select>
      </p>
    </div>
  </container-element>
</div>
<p *ngIf="errors.length > 0">
  <small *ngFor="let msg of errors">
    <font color="red">{{ msg }}</font
    ><br />
  </small>
</p>
