.canvas {
  width: 600px;
  height: 600px;
}

.outline {
  position: absolute;
  overflow: hidden;
  top: 36px;
  right: 0px;
  width: 0px;
  height: 0px;
  background: transparent;
  border-style: solid;
  border-color: black;
}
